<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteRule ^(index.php)$ index.php [L]

    #write http://www.domain.com/actionName to index.php?accion=actionName
    RewriteCond %{REQUEST_URI} ^/([a-zA-Z0-9_-]+)$
    RewriteRule . index.php?accion=%1 [L] 

    #write http://www.domain.com/actionName/actionParam to index.php?accion=actionName&params=actionParam
    RewriteCond %{REQUEST_URI} ^/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$
    RewriteRule . index.php?accion=%1&params=%2 [L] 
</IfModule>

