html         { height: 100% }
body         { height: 100%; margin: 0px; padding: 0px }
#header      { height: 130px; margin: 0 auto; width: 800px; }
#mainContent { min-height: 400px; margin: 0 auto; width: 800px; }
form         { font-size: 10pt; }
form label {
    display: block;
    float: left;
    margin-top: 3px;
    margin-right: 3px;
    text-align: right;
    width: 100px;
}
