<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--meta http-equiv="Cache-Control" content="no-cache, mustrevalidate" /-->
  <!--link rel="stylesheet" href="css/estilos.css" type="text/css" media="screen" /-->
  {HEADLIBS}
</head>
<body>
    <div id="centralColumn" class="horizBlock">
        {LOGINFORM}
        {CONTENIDO}
    </div>
</body>
</html>

