<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate" />
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
  {HEADLIBS}
</head>
<body>
  <div id="centralColumn">
    <div id="header">
    </div>
    <div id="mainContent">
      {LOGINFORM}
      {CONTENIDO}
    </div>
  </div>
</body>
</html>

